[submodule "CareerCloudCore.UnitTests.Assignment4"]
	path = CareerCloudCore.UnitTests.Assignment4
	url = https://github.com/whooaaapppp/CareerCloudCore.UnitTests.Assignment4
[submodule "CareerCloudCore.UnitTests.Assignment5"]
	path = CareerCloudCore.UnitTests.Assignment5
	url = https://github.com/whooaaapppp/CareerCloudCore.UnitTests.Assignment5
